$link-color: #0bceaf;
$link-color-hover: darken($link-color, 10%);
$nav-child-link-active-color: #0bceaf;
$button-primary-color: #0bceaf;
$button-primary-color-hover: darken($button-primary-color, 10%);